* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', Courier, monospace;
    font-weight: 100;
    font-style: normal;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index:10 ;
}
.navbar {
    background-image: linear-gradient(to right, #ec89ca, #ad137a);

}

.navbar-nav li{
padding: 0 10px;
}
.navbar li a {
    color: white !important;
    font-weight:600 ;
    float: right;
    text-align: left;
}

.navbar-toggler {
    outline: none;
}

/* Banner styling */

#banner {
    background-image: linear-gradient(to right, #ec89ca, #ad137a);
    padding-top: 5%;
}


.brand-title {
    font-size: 40px;
    font-weight: 600;
    margin-top:50px ;
    color: #fafafa;
}

.brand-p {
    font-size: 25px;
    color: #fafafa;
}
.bottom-img {
    width: 100%;
}

.logo {
    width: 100%;
    height: auto;
}


/*

#banner .logo {
    height: 200px; 
    width: 200px;
    position: relative;
    top: -20px; 
    opacity: 0.8;
    z-index: 1;
    animation: floating 4s ease-in-out infinite;
}



@keyframes floating {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(-10px); }
}
*/



/* About Intro */ 

.about-p {
    font-size: 20px;
    font-family: 'Poppins', Courier, monospace;
    font-weight: 300;
    font-style: normal;
    color: rgb(74, 69, 69);
}

/* Values Section */

#values {
    padding: 80px 0;
    background-color: #ffffff;

}

.values-img {
    width: 100px;
    height: 100px;
    margin-top: 20px;

}

.values {
    padding: 20px;

}

.values h4 {
    padding:5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.title::before 
{
    content: '';
    background: #ad137a;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after


#values .btn-secondary {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #ea48b1, #ad137a);

}

/* Services */

#services ul li {
    margin: 10px 0;
    font-size: 15px;
    font-family: 'Poppins', Courier, monospace;
    font-weight: 300;
    font-style: normal;
    color: rgb(74, 69, 69);
    list-style: none;

}

#services ul {
    margin-left: 20px;
}

.img-fluid {
    height: 500px;
    width: 500px;
    
}

.services-p {
    font-size: 18px;
    font-family: 'Poppins', Courier, monospace;
    font-weight: 300;
    font-style: normal;
}

/* Footer */


/* Footer */

#footer {
    background-image: linear-gradient(to right, #ec89ca, #ad137a);
    

}


.footer-img {
    width: 100%;
    height: auto;

}
footer p {
  font-size: 13px;
  line-height: 25px;
}
 a {
  color: #ffffff;
}
.footer-manu {
  padding-bottom: 25px;
}
#footer .footer-manu ul {
  margin: 0px;
  padding: 0px;
}
#footer .footer-manu ul li {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
}
#footer .footer-manu ul li a {
  display: inline-block;
  color: #ffffff;
  list-style: none;
  text-decoration: none;
  font-size: 15px;
}


.social-icons {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }





