* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index:10 ;
}
.navbar {
    background-image: linear-gradient(to right, #ea48b1, #ad137a);

}

.navbar-nav li{
padding: 0 10px;
}
.navbar li a {
    color: white !important;
    font-weight:600 ;
    float: right;
    text-align: left;
}

.navbar-toggler {
    outline: none;
}

/* Banner styling */

#banner {
    background-image: linear-gradient(to right, #ea48b1, #ad137a);
    padding-top: 5%;
}

.brand-title {
    font-size: 40px;
    font-weight: 600;
    margin-top:50px ;
    color: #fafafa;
}

.brand-p {
    font-size: 25px;
    color: #fafafa;
}
.bottom-img {
    width: 100%;
}

.logo {
height: 500px;
width: 500px;

}


/* Values Section */

#values {
    padding: 80px 0;
    background-color: #fafafa;

}

.values-img {
    width: 100px;
    height: 100px;
    margin-top: 20px;

}

.values {
    padding: 20px;

}